{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Gor Center Platform</title>

  {% block meta %}
  {% endblock meta %}
</head>

<body style="min-height:100vh; margin:0; position:relative;">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="{% static 'img/logo-gcp.png' %}" style="max-width: 100%;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          {% if request.session.role == 'PENGURUS' %}
          <li class="nav-item">
            <a class="nav-link" href="/daftar-reservasi">Daftar Reservasi</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Pengelolaan GOR
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/mengelola-sarana-olahraga">Daftar Sarana</a></li>
              <li><a class="dropdown-item" href="/mengelola-sarana-olahraga/add-sarana">Tambah Sarana</a></li>
            </ul>
          </li>
          {% elif request.session.role == 'KONSUMEN' %}
          <li class="nav-item">
            <a class="nav-link" href="/daftar-gor">Daftar GOR</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/riwayat-reservasi">Riwayat Reservasi</a>
          </li>
          {% endif %}
        </ul>
        <form class="d-flex">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if request.session.role == None %}
            <li class="nav-item">
              <a class="nav-link" href="/register">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
            {% endif %}
          </ul>
        </form>
      </div>
    </div>
  </nav>

  {% block content %}
  {% endblock content %}

  <div class="mt-5 pt-5"></div>

  <div class="mt-5 pt-5">
    <footer class="text-center text-lg-start"
      style="background-color: #e3fde6; position: absolute; bottom: 0; width: 100%; height: auto;">
      <div class="container d-flex justify-content-center pt-4">
        <h6>Rekayasa Perangkat Lunak PT RPL Lil</h6>
      </div>
      <div class="container d-flex justify-content-center pb-3">
        <h6>Dibuat oleh DARRK</h6>
      </div>


      <div class="text-center text-white p-3" style="background-color:#0da126;">
        © 2022 DARRK | RPL - C
      </div>
    </footer>

  </div>

</body>

</html>