{% extends 'base.html' %}
{% load static %}

{% block meta %}
<meta charset="UTF-8" />
    <title>Daftar Reservasi</title>
    <style>
        .notes-container {
            padding: 2px 16px;
            display: flex;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 20px;
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
            width: 400px;
            padding: 16px 16px;
            margin: 10px;
            background-color: #cbf5c0;
            text-align: center;
            border-radius: 8px;
        }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            background-color: #aadeae;
        }

        .red-card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
            width: 400px;
            padding: 16px 16px;
            margin: 10px;
            background-color: #f5c0c0;
            text-align: center;
            border-radius: 8px;
        }

        .red-card:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            background-color: #deaaaa;
        }
    </style>
{% endblock meta %}

{% block content %}
<div style="text-align:center">
    <br>
    <h1><b>Daftar Reservasi - {{ gor.nama }}</b></h1>
    <br>
    <h4><b>Menunggu Pembayaran</b></h4>
    <div class="notes-container">
        {% if dr_menunggu_pembayaran %}
        {% for reservasi in dr_menunggu_pembayaran %}
        <div class="card">
            <h5><b>{{ reservasi.ss.konsumen.nama }}</b></h5>
            <p style=font-weight:normal;>Waktu Pemesanan: {{ reservasi.pesan }}</p>
            <p style=font-weight:normal;>Sarana: {{ reservasi.ss.sarana.nama }}</p>
            <p style=font-weight:normal;>Jam Booking: {{ reservasi.hari }}, {{ reservasi.ss.jam_booking.0 }}</p>
            <p style=font-weight:normal;>Biaya: Rp{{ reservasi.ss.biaya }}</p>
            <form method="POST" action="/reservasi/pembatalan">
                {% csrf_token %}
                <input id="ID_sewa" name="ID_sewa" type="text" value={{reservasi.ss.ID_sewa}} hidden>
                <button class="btn btn-danger my-2">Batalkan Reservasi</button>
            </form>
        </div>
        {% endfor %}
        {% else %}
        <p>Belum ada reservasi</p>
        {% endif %}
    </div>
    <h4><b>Menunggu Verifikasi Pembayaran</b></h4>
    <div class="notes-container">
        {% if dr_menunggu_verif_bayar %}
        {% for reservasi in dr_menunggu_verif_bayar %}
        <div class="card">
            <h5><b>{{ reservasi.ss.konsumen.nama }}</b></h5>
            <p style=font-weight:normal;>Waktu Pemesanan: {{ reservasi.pesan }}</p>
            <p style=font-weight:normal;>Sarana: {{ reservasi.ss.sarana.nama }}</p>
            <p style=font-weight:normal;>Jam Booking: {{ reservasi.hari }}, {{ reservasi.ss.jam_booking.0 }}</p>
            <p style=font-weight:normal;>Biaya: Rp{{ reservasi.ss.biaya }}</h4>
            <form method="POST" action="/reservasi/pembatalan">
                {% csrf_token %}
                <input id="ID_sewa" name="ID_sewa" type="text" value={{reservasi.ss.ID_sewa}} hidden>
                <button class="btn btn-danger my-2">Batalkan Reservasi</button>
            </form>
            <form method="POST" action="/reservasi/verifikasi-pembayaran">
                {% csrf_token %}
                <input id="ID_sewa" name="ID_sewa" type="text" value={{reservasi.ss.ID_sewa}} hidden>
                <button class="btn btn-success">Verifikasi Pembayaran</button>
                <br>
                {% if reservasi.dp.bukti_pembayara != '' %}
                <a class="btn btn-info my-2" href="{{ reservasi.dp.bukti_pembayaran }}" target="_blank">Lihat Bukti
                    Bayar</a>
                {% endif %}
            </form>
        </div>
        {% endfor %}
        {% else %}
        <p>Belum ada reservasi</p>
        {% endif %}
    </div>
    <h4><b>Reservasi Berlangsung</b></h4>
    <div class="notes-container">
        {% if dr_berlangsung %}
        {% for reservasi in dr_berlangsung %}
        <div class="card">
            <h5><b>{{ reservasi.ss.konsumen.nama }}</b></h5>
            <p style=font-weight:normal;>Waktu Pemesanan: {{ reservasi.pesan }}</p>
            <p style=font-weight:normal;>Sarana: {{ reservasi.ss.sarana.nama }}</p>
            <p style=font-weight:normal;>Jam Booking: {{ reservasi.hari }}, {{ reservasi.ss.jam_booking.0 }}</p>
            <p style=font-weight:normal;>Biaya: Rp{{ reservasi.ss.biaya }}</p>
            <form method="POST" action="/reservasi/pembatalan">
                {% csrf_token %}
                <input id="ID_sewa" name="ID_sewa" type="text" value={{reservasi.ss.ID_sewa}} hidden>
                <button class="btn btn-danger my-2">Batalkan Reservasi</button>
            </form>
            <form method="POST" action="/reservasi/selesai">
                {% csrf_token %}
                <input id="ID_sewa" name="ID_sewa" type="text" value={{reservasi.ss.ID_sewa}} hidden>
                <button class="btn btn-success">Selesaikan Reservasi</button>
                <br>
                {% if reservasi.dp.bukti_pembayara != '' %}
                <a class="btn btn-info my-2" href="{{ reservasi.dp.bukti_pembayaran }}" target="_blank">Lihat Bukti
                    Bayar</a>
                {% endif %}
            </form>
        </div>
        {% endfor %}
        {% else %}
        <p>Belum ada reservasi</p>
        {% endif %}
    </div>
    <h4><b>Reservasi Selesai</b></h4>
    <div class="notes-container">
        {% if dr_selesai %}
        {% for reservasi in dr_selesai %}
        <div class="card">
            <h5><b>{{ reservasi.ss.konsumen.nama }}</b></h5>
            <p style=font-weight:normal;>Waktu Pemesanan: {{ reservasi.pesan }}</p>
            <p style=font-weight:normal;>Sarana: {{ reservasi.ss.sarana.nama }}</p>
            <p style=font-weight:normal;>Jam Booking: {{ reservasi.hari }}, {{ reservasi.ss.jam_booking.0 }}</p>
            <p style=font-weight:normal;>Biaya: Rp{{ reservasi.ss.biaya }}</p>
            {% if reservasi.dp.bukti_pembayara != '' %}
            <a class="btn btn-info my-2" href="{{ reservasi.dp.bukti_pembayaran }}" target="_blank">Lihat Bukti
                Bayar</a>
            {% endif %}
        </div>
        {% endfor %}
        {% else %}
        <p>Belum ada reservasi</p>
        {% endif %}
    </div>
    <h4><b>Menunggu Verifikasi Pembatalan</b></h4>
    <div class="notes-container">
        {% if dr_menunggu_verif_batal %}
        {% for reservasi in dr_menunggu_verif_batal %}
        <div class="red-card">
            <h5><b>{{ reservasi.ss.konsumen.nama }}</b></h5>
            <p style=font-weight:normal;>Waktu Pemesanan: {{ reservasi.pesan }}</p>
            <p style=font-weight:normal;>Sarana: {{ reservasi.ss.sarana.nama }}</p>
            <p style=font-weight:normal;>Jam Booking: {{ reservasi.hari }}, {{ reservasi.ss.jam_booking.0 }}</p>
            <p style=font-weight:normal;>Biaya: Rp{{ reservasi.ss.biaya }}</p>
            <form method="POST" action="/reservasi/verifikasi-pembatalan">
                {% csrf_token %}
                <input id="ID_sewa" name="ID_sewa" type="text" value={{reservasi.ss.ID_sewa}} hidden>
                <button class="btn btn-success">Verifikasi Pembatalan</button>
                <br>
                {% if reservasi.dp.bukti_pembayara != '' %}
                <a class="btn btn-info my-2" href="{{ reservasi.dp.bukti_pembayaran }}" target="_blank">Lihat Bukti
                    Bayar</a>
                {% endif %}
            </form>
        </div>
        {% endfor %}
        {% else %}
        <p>Belum ada reservasi</p>
        {% endif %}
    </div>
    <h4><b>Reservasi Dibatalkan</b></h4>
    <div class="notes-container">
        {% if dr_batal %}
        {% for reservasi in dr_batal %}
        <div class="red-card">
            <h5><b>{{ reservasi.ss.konsumen.nama }}</b></h5>
            <p style=font-weight:normal;>Waktu Pemesanan: {{ reservasi.pesan }}</p>
            <p style=font-weight:normal;>Sarana: {{ reservasi.ss.sarana.nama }}</p>
            <p style=font-weight:normal;>Jam Booking: {{ reservasi.hari }}, {{ reservasi.ss.jam_booking.0 }}</p>
            <p style=font-weight:normal;>Biaya: Rp{{ reservasi.ss.biaya }}</p>
            {% if reservasi.dp.bukti_pembayaran != '' %}
            <a class="btn btn-info my-2" href="{{ reservasi.dp.bukti_pembayaran }}" target="_blank">Lihat Bukti
                Bayar</a>
            {% endif %}
        </div>
        {% endfor %}
        {% else %}
        <p>Belum ada reservasi</p>
        {% endif %}
    </div>
</div>
{% endblock content %}